<h1>Title : {{title}}</h1>

<div>
	<p>{{user.name}}</p>
	<p>{{user.age}}</p>
</div>

<a href="#" bind-title=tooltip>Link</a>

<!--#############################################################-->
<p class='red'>Red</p>
<p style='color: red'>Red</p>

<!--#############################################################-->
<p [class]="classStyle">Red</p>
<p [style]="inlineStyle">Red</p>

<p [style.width]="'50%'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae totam non cupiditate similique
	itaque optio beatae rerum deserunt! Dicta veniam optio voluptates provident facilis natus necessitatibus est, earum
	laudantium debitis.</p>

<p [style.width.%]="someNumber">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae totam non cupiditate
	similique
	itaque optio beatae rerum deserunt! Dicta veniam optio voluptates provident facilis natus necessitatibus est, earum
	laudantium debitis.</p>